*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: #f5f4f0;
}

header, main, footer{
    width: 1120px;
    margin: 36px auto;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    margin: 40px 0;
}

#mainimg{
    padding-top: 4px;
    height: 660px;
    margin: 0;
}

img{
    border-radius: 28px;
    width: 1120px;
    height: 350px;
    margin-bottom: 20px;
    margin-top: 48px;
}

footer{
    text-align: center;
    margin: 64px auto 36px;
}

.headline{
    font-size: 16px;
    font-weight: bold;
    color: #E1624F;
    margin: 0;
}

p{
    font-size: 16px;
    color: #333333;
    margin: 0;
}

.subtitle{
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
  text-align: center;
  color: #333333;
  margin-top: 24px;
}

h1{
    margin: 8px 0 40px;
}

h2{
    margin-top: 2px;
}

h3{
    margin: 0 0 4px;
}

header{
    margin: 40px auto;
}

.section-header{
    margin: 64px 0;
}

#rodape{
    text-align: center;
}

.lista{
    margin-top: 40px
}

.titulo-lista{
    color: #333333;
    font-weight: bold
}

ul{
    margin: 0;
    padding: clamp(16px, 4vw, 32px);
    padding-top: 0;
    padding-bottom: 0;
}

li{
    font-weight: bold;
    color: #591b98;
}

li+li{
    color: #e5245e;
}

li+li+li{
    color: #e95e10;
}