*{
    box-sizing: border-box;
}

header, main, footer{
    width: 1120px;
    margin: 36px auto;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    margin: 36px 0;
}

#mainimg{
    height: 660px;
}

img{
    border-radius: 28px;
    width: 1120px;
    height: 350px;
}

footer{
    text-align: center;
}